#homePageContainer{
    display:flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-content: center;
    margin: 2% 0 5% 0;
    min-height: fit-content;
    color:white;
}

.iconDiv{
    display: inline-block;
    border-radius: 5px;
    margin-right: .5rem;
    /* margin-left: 9rem; */
}
.typedBlurb{
    align-self: center;
    transition:  ease-in-out, width ease-in-out .4s;
}



#content1{
    display: flex;
    flex-flow: row wrap;
    align-content: space-around;
    padding: .3rem;
    margin-left: .5rem;
    font-size: xx-large;
    font-weight: 300;
    min-width: 8%;
    height:1%;
    border: dashed lightblue;
    border-radius:1rem;
    transition-timing-function: ease-in-out  ;
}
@media(min-width: 200px) and (max-width: 799px){
    #homePageContainer{
        display: flex;
        flex-flow: column nowrap;
        width: 100%;
        height: fit-content;
        align-content: space-around;
        justify-content: space-around;
    }
    #homePageContainer > img{
        width: 60%;
        margin: 0 20%;
        height: 50%;
    }

    #homePageContainer > div{
        width: 90%;
        margin: 3% 2.5%;
    }
}

@media(min-width: 2658px) and (max-width: 4253px){

}

@media(min-width: 1280px) and (max-width:2657px){

}

@media(min-width: 601px) and (max-width: 1279){

}

@media(min-width: 200px) and (max-width:600px){

}