.card{
    display: flex;
    position: relative;
    flex-flow:column nowrap;
    width: 100%;
    height: 88%;
    border: solid lightblue 1px;
    border-radius: 5px;
    padding: 1%;
    margin: 2.5% 0 1.5% 0;
    align-content: space-between;
}

.titleLink{
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
    color:white;
    align-items: center;
    padding: 1.5%;
}

.card:hover .titleLink{
    color: lightblue;
    left: 1%;
}

.imgContainer{
    max-width: 100%
}

.projectImage{
    position: relative;
    width: 100%;
}

.listContainer{
    position: relative;
    width: 95%;
    height: 92%;
    overflow-y: auto;
    justify-content: center;
    top:1%;
    margin: 0;
}

@media(min-width: 2658px) and (max-width: 4253px){

}

@media(min-width: 1280px) and (max-width:2657px){

}

@media(min-width: 601px) and (max-width: 1279){

}

@media(min-width: 200px) and (max-width:600px){
    .listContainer{
        font-size:.7rem;
        overflow-y: auto;
    }
}