.card{
    display: flex;
    position: relative;
    flex-flow:column nowrap;
    z-index: 0;
    width: 100%;
    height: 88%;
    border: solid lightblue 1px;
    border-radius: 5px;
    margin: 2.5% 0 1.5% 0;
    align-content: space-between;
}

.imgContainer > #linkModal{
    display: flex;
    flex-flow: row nowrap;
    position: absolute;
    visibility: hidden;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 56%;
    background-color: rgba(0, 0, 0, .8);
}

.card:hover > .imgContainer > #linkModal{
    visibility: visible;
    transition: .2s;
    z-index: 100;
}
.links{
    color: white;
    font-size: xx-large;
    text-decoration: none;
}
.links:hover{
    color: lightblue;
    cursor: pointer;
    transition: .2s
}

.titleLink{
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
    color:white;
    align-items: center;
    padding: 1.5%;
}

.card:hover .titleLink{
    color: lightblue;
    left: 1%;
}
.imgContainer{
    max-width: 100%;
}

.projectImage{
    position: relative;
    width: 100%;
}

.listContainer{
    position: relative;
    width: 95%;
    height: 92%;
    overflow-y: auto;
    justify-content: center;
    margin: 0;
}

@media(min-width: 2658px) and (max-width: 4253px){

}

@media(min-width: 1280px) and (max-width:2657px){

}

@media(min-width: 601px) and (max-width: 1279){

}

@media(min-width: 200px) and (max-width:600px){
    .listContainer{
        font-size:.7rem;
        overflow-y: auto;
    }
    .imgContainer > #linkModal{
        display: flex;
        flex-flow: row nowrap;
        position: absolute;
        visibility: hidden;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        height: 70%;
        background-color: rgba(0, 0, 0, .8);
    }
}