.card{
    display: flex;
    flex-direction: column;
    height: fit-content;
    width: 50%;
    margin: 1% 25%;
    justify-self: center;
}

.titleLink{
    color: white;
    text-decoration: none;
    margin: .5vw;
    transition-duration: .2s;
}

.card:hover .titleLink{
    margin: 1vw 0vw 0vw 1vw;
    color:lightblue;
    transition-duration: .2s;
    transition-timing-function: ease-in-out;
}

.projectCardsContainer{
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    height:fit-content;
    border: solid lightblue;
    border-radius:10px;
}

.projectImage{
    width: 30vw;
    height: 20vw;
    margin: .5vw;
    margin-top: 2.3vw;
}

.listContainer{
    font-size: 1.5vw;
    font-weight: 300;
    padding: .5vw;
    overflow-y: auto;
}

@media(min-width:200px) and (max-width:476px){
    .card{
        display: flex;
        flex-direction: column;
        height: 80%;
        width: 100%;
        margin: 0;
        justify-self: center;
    }
    
    .titleLink{
        color: white;
        text-decoration: none;
        margin: .5vw;
        transition-duration: .2s;
        font-size: medium;
    }
    
    .card:hover .titleLink{
        margin: 1vw 0vw 0vw 1vw;
        color:lightblue;
        transition-duration: .2s;
        transition-timing-function: ease-in-out;
    }
    
    .projectCardsContainer{
        display: flex;
        flex-flow: column nowrap;
        width: 95%;
        margin: 0 2.5%;
        height: 35vh;
        border: solid lightblue;
        border-radius:10px;
        align-content: space-between;
    }
    
    .projectImage{
        width: 90%;
        height: 60%;
        margin: 1% 5%;
    }
    
    .listContainer{
        font-size: 1rem;
        font-weight: 300;
        padding: 2%;
        overflow-y: auto;
    }
}