#projectPageContainer{
   display:flex;
   flex-flow: column nowrap;
   justify-content: space-evenly;
   color: white;
   height:fit-content
}

.cardsDisplayArea{
    display: flex;
    flex-flow: column  wrap;
    justify-items: center;
}

.pageTitle{
    margin: 2%;
}

#makeCommentButton{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-self: space-around;
    margin: 0 25%;
    border: solid lightblue;
    border-radius: .5rem;
    height: 2rem;
    width: 50%;
}
#makeCommentButton:hover{
    border: solid lightcoral;
    justify-content: center;
    border-radius: .5rem;
    transition-duration: .2s;
    font-weight: 300;
}

@media(min-width:200px) and (max-width:476px){
    #makeCommentButton{
        margin: 0;
        width: 100%;
    }
}