.projectTitleContainer{
    display: flex;
    flex-flow: row nowrap;
    min-height: fit-content;
}

.cardsDisplayArea{
    display: flex;
    position: relative;
    flex-flow: row wrap;
    justify-content: space-around;
    padding-bottom: 10px;
}

.cardsDisplayArea > div{
    position: relative;
    width: 30%;
}

#makeCommentButton{
    display: flex;
    width: 102%;
    height: 2rem;
    justify-content: center;
    align-items: center;
    border: solid lightblue 1px;
    border-radius: 5px;
    transition: ease-in-out .2s;
}

#makeCommentButton:hover{
    background-color: lightblue;
    border: solid white 1px;
    color: black;
}

.commentDivider{
    height: 10px;
    margin: 8% 0;
}

@media(min-width: 2658px) and (max-width: 4253px){

}

@media(min-width: 1280px) and (max-width:2657px){

}

@media(min-width: 601px) and (max-width: 1279px){
    .cardsDisplayArea > div{
        width:45%;
    }
}

@media(min-width: 200px) and (max-width:600px){
    .cardsDisplayArea{
        display: flex;
        position: relative;
        flex-flow: column nowrap;
        justify-content: space-around;
        padding-bottom: 10px;
    }

    .projDivs{
        font-size: 1.2rem;
    }

    .cardsDisplayArea > div{
        width: 95%;
        margin: 2.5%;
    }

    #makeCommentButton{
        font-size: .7rem;
    }
}