.contactButton{
    display:flex;
    justify-content: center;
    align-items: center;
    color: white;
    background: rgba(0,0,0,.85);
    position: fixed;
    z-index: 400;
    height: 2rem;
    border-radius: 5px;
    padding: 5px ;
    top: 7vh;
    right: 9vw;
    bottom: 12vh;
    left:79vw;
    transition: ease-in-out .2s;
    white-space: nowrap;
    font-weight: 600;
    -webkit-user-select: none;
}

#contactButton{
    visibility: visible;
}

#formDiv{
    visibility: hidden;
    flex-flow: column nowrap;
    color: rgba(0,0,0,0);
    background: rgba(0,0,0,0);
    transition: .2s ease-in-out;
}

#toggleContact:checked ~ #formDiv > .contactForm > .emailInput{
    visibility: visible;
    width:90%;
    background-color: rgba(255, 255, 255, 1);
    border: solid black 1px;
    margin: 0 5%;
}

.contactForm{
    display: flex;
    flex-flow: column nowrap;
    width: 90%;
    background: rgba(0,0,0,0);
    transition: .2s ease-in-out;
}

#toggleContact:checked ~ #formDiv{
    z-index: 500;
    color: rgba(0,0,0,1);
    background: rgba(255, 255, 255, 1);
    border: solid rgb(255, 255, 255, 1);
    left: 70vw;
    height: 400px;
    visibility: visible;
    top: 15vh;
}

#toggleContact:checked ~ #contactButton{
    visibility: visible;
    left: 800px;
    height: 300px;
}

#toggleContact:checked ~ #formDiv > .contactForm > .mailToLink{
    visibility: visible;
    height: 1rem;
    font-size: 1rem;
    width: 90%;
    margin: 2% 5% 0% 5%;
}

#toggleContact:checked ~ #formDiv > .contactForm > .resumeButton{
    visibility: visible;
    height: 1rem;
    font-size: 1rem;
    width: 90%;
    margin: 2% 5% 0% 5%;
}

.emailFormLabels{
    position: relative;
    font-size: .6rem;
    margin:0 0 .4rem 4%;
    left: 0;
    transition: .2s ease-in-out;
}

#bodyFormLabel{
    position:relative;
    margin-top: 1rem;
}

.mailToLink{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    height: 0rem;
    font-size: 0rem;
    width: 0%;
    text-decoration: none;
    color: white;
    border-radius: 5px;
    background-color: black;
    transition: .2s ease-in-out;
    visibility: hidden;
    padding: 5px;
}

.mailToLink:hover{
    background-color: lightblue;
    color:black;
}


#bodyInput{
    height: 5rem;
    resize:none;
}

.emailInput{
    position: relative;
    padding: 5px;
    width: 0%;
    background-color: rgba(255, 255, 255, 0);
    box-shadow: none;
    border: solid rgba(0, 0, 0, 0) 1px;
    border-radius: 5px;
    visibility: hidden;
    top:0px;
    left:0px;
    transition:width .5s ease .15s, background-color .2s ease .15s, box-shadow .2s ease .05s, top .2s ease-in-out, left .2s ease-in-out;
}

#bodyInput:focus{
    -webkit-appearance: none;
    top: -5px;
    left: -5px;    
    outline: none;
    box-shadow: darkgrey 5px 5px 5px;
    border: solid lightblue 1px;
}

#subjectInput:focus{
    -webkit-appearance: none;
    top: -5px;
    left: -5px;    
    outline: none;
    box-shadow: darkgrey 5px 5px 5px;
    border: solid lightblue 1px;
}

#toggleContact{
    visibility: hidden;
    position: absolute;
}

.resumeButton{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    height: 0rem;
    font-size: 0rem;
    width: 0%;
    text-decoration: none;
    color: white;
    border-radius: 5px;
    background-color: black;
    visibility: hidden;
    padding: 5px;
    transition: .2s ease-in-out;
}

.resumeButton:hover{
    background-color: lightblue;
    color:black;
}


@media(min-width: 2658px) and (max-width: 4253px){
    #toggleContact:checked ~ #formDiv{
        left: 60vw;
        height: 650px;
        visibility: visible;
        top: 13vh;
        font-size:2rem;
    }

    .emailFormLabels{
        font-size: 1.2rem;
    }
}

@media(min-width: 1280px) and (max-width:2657px){
    #toggleContact:checked ~ #formDiv{
        left: 60vw;
        height: 500px;
        visibility: visible;
        top: 11vh;
        font-size:2rem;
    }

    .emailFormLabels{
        font-size: 1.2rem;
    }
}

@media(min-width: 601px) and (max-width: 1279px){
    .contactButton{
        left: 75vw;
        right: 5vw;
        top: 5vw;
    }

    #toggleContact:checked ~ #formDiv{
        z-index: 300px;
        color: rgba(0,0,0,1);
        background: rgb(255, 255, 255);
        left: 49vw;
        width: 45vw;
        height: 300px;
        visibility: visible;
        top: 7vh;
    }
    
}

@media(min-width: 200px) and (max-width:600px){
    .contactButton{
        right: 5vw;
        left: 5vw
    }

    #toggleContact:checked ~ #formDiv{
        z-index: 300px;
        color: rgba(0,0,0,1);
        background: rgb(255, 255, 255);
        border: solid rgb(255, 255, 255);
        left: 1.5vw;
        right: 6vw;
        height: 300px;
        width: 95vw;
        visibility: visible;
        top: 17vh;
    }
}