.Nav_Bar{
    position:fixed;
    display: flex;
    flex-flow:row nowrap;
    margin: 1% 33%;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 5px;
    width: 33%;
    height: 4rem;
    justify-content: space-around;
    align-items: center;
    transition-duration: .2s;
}

.nav-link{
    color: white;
    text-decoration: none;
    font-size: large;
    font-weight: 300;
    height:fit-content;
    padding: 3px;
}

.nav-link:hover{
    font-weight: 400;
    transition-duration: .3s;
    transition-timing-function: ease-in-out;
}

@media(min-width:1024px) and (max-width:1620px){
    .Nav_Bar{
        position:fixed;
        display: flex;
        flex-flow:row nowrap;
        margin: 1% 25%;
        background-color: rgba(0, 0, 0, 0.7);
        border-radius: 5px;
        width: 50%;
        height: 4rem;
        justify-content: space-around;
        align-items: center;
        transition-duration: .2s;
    }
    
    .nav-link{
        color: white;
        text-decoration: none;
        font-size: medium;
        font-weight: 300;
        height:fit-content;
        padding: 3px;
    }
    
    .nav-link:hover{
        font-weight: 400;
        transition-duration: .2s;
        transition-timing-function: ease-in-out;
    }
}

@media(min-height:300px) and (max-height:1023px){
    .nav-bar{
        display: none;
    }
    
    .nav-link{
        display: none;
        font-size: medium;
    }
}