.CommentsSort{
    display: flex;
    flex-flow: row nowrap;
    position: relative;
    color:white;
    width:fit-content;
    font-size: 1rem;
    justify-content: space-between;
}


@media(min-width: 200px) and (max-width: 799px){
    .CommentsSort{
        display: flex;
        color:white;
        font-size: 1rem;
        width: 45%;
        right:4%
    }
}

@media(min-width: 2658px) and (max-width: 4253px){

}

@media(min-width: 1280px) and (max-width:2657px){

}

@media(min-width: 601px) and (max-width: 1279){

}

@media(min-width: 200px) and (max-width:600px){

}