.CommentSort{
    display: flex;
    flex-flow: row nowrap;
    position: relative;
    width:fit-content;
    font-size: 1rem;
    justify-content: center;
}

#sortOptions{
    margin-left: 2.5%;
}


@media(min-width: 200px) and (max-width: 600px){
    #sortOptions{
        display: flex;
        position: relative;
        font-size: .5rem;
        width: 95%;
        right:4%;
        text-align: center;
    }

    .CommentSort > label{
        font-size: .7rem;
    }

}

@media(min-width: 2658px) and (max-width: 4253px){

}

@media(min-width: 1280px) and (max-width:2657px){

}

@media(min-width: 601px) and (max-width: 1279px){

}