.CommentsSort{
    color:white;
    width:fit-content;
    font-size: 1rem;
}
/* .CommentsSort:hover{
    border:solid green;
    width:fit-content;
    font-size: 1rem;
} */

@media(min-width: 200px) and (max-width: 799px){
    .CommentsSort{
        display: flex;
        position: relative;
        flex-flow: row nowrap;
        color:white;
        font-size: 1rem;
        width: 50%;
        right:4%
    }
}