
.comments{
    display: flex;
    position:inherit;
    flex-flow: column nowrap;
    width: 50%;
    margin: 0% 25%;
    border: solid lightblue 1px;
    border-radius: 5px ;
}
.commentLabelDiv{
    display: flex;
    flex-flow: row nowrap;
    align-content: space-around;
    justify-content: space-around;
    height: 1.2rem;
    width:100%;
    padding: 1%;
}

.commentLabel{
    margin:.5%;
    font-size: 1rem;
    font-weight: 800;
}

.listDiv#listDiv{
    position:relative;
    height: 60vh;
    overflow-y: auto;
    scroll-behavior: smooth;
    transition-timing-function: ease-in-out;
}

.commentItselfDiv{
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid lightblue;
    width: 50% ;
    margin: 0 0 0 8%;
    border-radius: 5px 10px;
    padding: .5rem;
}

.commentUsername{
    font-size: small;
    margin: .2% .5% .4% 0%;
    font-weight: bolder;
}

.whatProject{
    position: relative;
    font-size: small;
    margin: .2% .5% .4% 0%;
    font-style: italic;
    font-weight: 300;
}

.userNameProject{
    display: flex;
    flex-direction: row;
    margin: .2rem 0 0 3.2rem;
    align-items: center;
    font-weight: 500;
}

.commentText{
    position:relative;
    font-size: medium;
    font-weight: 300;
    min-height: 90%;
}

.actionButtons{
    display: flex;
    font-size: x-small;
    width: 100%;
    height:10%;
    margin-top:.3rem;
}

#deleteButton{
    border-radius: .1rem .25rem;
    background-color: lightgrey;
    padding:.03rem;
    color: black;
}

#dateTimeDiv{
    display: flex;
    flex-flow: row nowrap;
    margin: .2rem 0rem 2rem 3.2rem;
}

.dateDiv{
    margin-right: .3rem;
    font-size: small;
    font-weight: 400;
}

.timeDiv{
    font-size: small;
    font-weight: 300;
}
.CommentsSort{
    align-self: center;
    font-size: x-large;
}

@media(min-width: 2658px) and (max-width: 4253px){

}

@media(min-width: 1280px) and (max-width:2657px){

}

@media(min-width: 601px) and (max-width: 1279){

}

@media(min-width: 200px) and (max-width:600px){
    .commentLabelDiv{
        display: flex;
        position: relative;
        flex-flow: row nowrap;
        align-content: space-around;
        justify-content: space-between;
        height: fit-content;
        padding: 2%;
        width: 100%;
        margin: 0;
    }
    .comments{
       width:98%;
       margin:0 1%;
    }
    
    #sortOptions {
        width: 100%;
    }
}

