.pageContainer{
    height: auto;
}

body,html{
    background-color:black;
    color: white;
    scroll-behavior: smooth;
    padding: 1% .5%;
    background-image: linear-gradient(to bottom right, rgb(30,30,30), black);
}
.app{
    height: 100dvh;
}