.modalBackground{
    display:flex;
    visibility: hidden;
    position: fixed;
    z-index: 200;
    flex-flow: column nowrap;
    background-color: rgba(255, 255, 255, 1);
    top: 10%;
    width: 40%;
    height: 60%; 
    margin: 0 19.5%;
    border: solid lightblue 1px;  
    border-radius: 5px;
    justify-content: center;
    color: black;
    transition: .4s ease-in-out;
}



.modalWhatProject{
    display: flex;
    position:relative;
    height: 20%;
    align-items: center;
    justify-content: center;
}

.commentForm{
    display: flex;
    position: relative;
    flex-flow: column nowrap;
    height: 80%;
}

.commentInput{
    display: flex;
    position: relative;
    visibility: hidden;
    outline: none;
    box-shadow: none;
    width: 0%;
    margin: 0% 4%;
    border: solid black 1px;
    padding: 1%;
    transition: width .3s ease-in-out .1s, visibility .3s ease-in-out;
}

.modalBackground[style*= 'visible'] > .commentForm > .commentInput{
    width: 90%;
    visibility: visible;
}

.modalBackground[style*= 'visible'] > .commentForm > .commentModalInputLabels{
    color: rgba(0,0,0,1)
}

.modalBackground[style*= 'visible'] > .commentForm > .modalActionButtons > .commentButton{
    color: rgba(255,255,255,1);
}
.modalBackground[style*= 'visible'] > .commentForm > .modalActionButtons > .commentButton:hover{
    color: rgba(0,0,0,1);
    background-color: lightblue;
}

#commentNameInput:focus{
    -webkit-appearance: none;
    box-shadow: 5px 5px 5px rgba(91, 91, 91, 1);
    border: solid lightblue 1px;
    top: 0px;
    left: 0px;
    transition: top .2s ease-in-out , left .2s ease-in-out, box-shadow .2s ease-in-out .05s;
}

#commentTextInput:focus{
    -webkit-appearance: none;
    box-shadow: 5px 5px 5px rgba(91, 91, 91, 1);
    border: solid lightblue 1px;
    top: 0px;
    left: 0px;
    transition: top .2s ease-in-out, left .2s ease-in-out, box-shadow .2s ease-in-out .05s;
}

#commentNameInputLabel{
    order: 1;
}

#commentNameInput{
    order:2;
    top: 5px;
    left: 5px;
    box-shadow: 5px 5px 5px rgba(91, 91, 91, 0);
}

.commentModalInputLabels{
    margin: 4% 0 0 4%;
    font-size: .7rem;
    height:1rem;
    color: rgba(0,0,0,0);
    transition:  color .2s ease-in-out .15s;
}

#commentTextInputLabel{
    order: 3;
}

#commentTextInput{
    order:4;
    height: 4rem;
    box-shadow: 5px 5px 5px rgba(91, 91, 91, 0);
    resize: none;
    top: 5px;
    left: 5px;
}

.commentForm > .modalActionButtons{
    order:5;
    display: flex;
    position: relative;
    flex-flow: column nowrap;   
    width: 90%;
    margin: 10px 5%;
}

.commentButton{
    border:none;
    border-radius: 5px;
    text-align: center;
    color: rgba(255,255,255,0);
    background-color: black;
    font-size: 1rem;
    font-weight: 600;
    margin: 5px 0px;
    padding: 3px;
    transition: color .1s ease-in-out .1s;
    }

@media(min-width: 200px) and (max-width: 600px){
    .modalBackground{
        position: fixed;
        width: 90%;
        height: 90%;
        margin: 0 5% 0 3.5%;
    }

    
}

@media(min-width: 2658px) and (max-width: 4253px){

}

@media(min-width: 1280px) and (max-width:2657px){

}

@media(min-width: 601px) and (max-width: 1279){

}